html{
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-size: 2rem;
  text-shadow: 3px 3px 1px gray;
  border-bottom: 3px solid rgb(115, 115, 114);
  letter-spacing: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-pink {
  color: rgb(255, 192, 203) ;
}

.text-skyblue {
  color: skyblue ;
}

#basic p{
  font-weight: bold;
}